*{
    font-family: 'Mukta', sans-serif;
    margin: 0 auto;
    padding: 0 auto;
    color: #11105f;
}

body{
    background-color: #bdfbd4;
}

hr{
    background-color: #11105f;
} 
p{
    font-size: 20px;
}

header{
    height: 280px;
    text-align: center;
}

footer{
    text-align: center;
    padding-top: 280px;
}

header h1{
    font-size: 200px;
    margin: 0;
    padding: 0;
}

fieldset{
    border: solid 3px black;
    padding: 20px;

}

.margin{
    width: 1200px;
}

.margin-fil{
    margin-top: 10px;
}

.nav_nav{
    border-radius: 0 10px 0px 0px;
    box-shadow: -2px -2px 15px;
    border: 2px solid rgb(2, 15, 87);
    margin-right: 10px;
    list-style-type: none;
    list-style: none;
    margin-bottom: 10px;
    text-decoration: none;
    padding: 5px;
    margin-bottom: 30px;
    float: left;

}

li{
    list-style-type: none;
    list-style: none;
    margin-bottom: 10px;
}

button{
    border-radius: 0 10px 0px 0px;
    box-shadow: -2px -2px 15px;
    border: 2px solid rgb(2, 15, 87);
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
}

ul{
    margin-bottom: 10px;
}

.margin_center{
    margin-top: 25px;
    margin-bottom: 0px;
}

.clear{
    clear: both;
}

  .login {
    height: 100vh;
    display: flex;
    align-items: center;
  }
  
  .login__container {
    min-height: 400px;
    width: 300px;
    background-color: white;
    box-sizing: border-box;
    padding: 32px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login__titulo {
    margin-bottom: 32px;
  }
  
  .login__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login__input {
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 8px;
    border: unset;
    position: relative;
  }
  
  .login__input-border {
    height: 1px;
    width: 100%;
    margin-bottom: 16px;
    background: black;
  }
  
  .login__input-border::after {
    display: block;
    width: 0;
    margin-bottom: 16px;
  } 

  .login__submit {
    height: 48px;
    width: 100%;
    padding-left: 8px;
    position: relative;
    background: black;
    background-size: 200%;
    margin-bottom: 32px;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }

  .login__reset {
    font-size: 15px;
    color: black;
    text-decoration: none;
    float: left;
  }
.cadastro{
    text-align: center;
}

.faq_exp{
    width: 50%;
    font-size: 16px;
    text-align: justify;
}

.faq_exp_end{
    margin-top: 10px;
    width: 50%;
    font-size: 16px;
    text-align: center;
}

.faq_links{
    color:rgb(2, 15, 87);
    font-weight: normal;
}

.passos_cadastro{
    font-size: 18px;
    text-align: justify;
    margin-left: 15px;
    margin-top: 5px;
}

h1{
    color: #11105f;
}
h2{
    color: #11105f;
}

a{ 
    text-decoration: none;
}

.gambiarra{
    margin-left: 20px;
}

.mr_chato{
    margin-right: 10px;
}