*{
    font-family: 'Mukta', sans-serif;
    margin: 0 auto;
    padding: 0 auto;
    color: black;
}

body{
    background-color: #bdfbd4;
}

hr{
    background-color: #11105f;
} 
p{
    font-size: 20px;
}

header{
    height: 280px;
    text-align: center;
}

footer{
    text-align: center;
    padding-bottom: 260px;
}

footer a{
    color: white;
}

header h1{
    font-size: 200px;
    margin: 0;
    padding: 0;
}

fieldset{
    border: solid 3px rgb(2, 15, 87);
    padding: 20px;
    background-color: #11105f;
    color: white;
}

fieldset p{
    color: white;
}

fieldset a{
    color: white;
}

fieldset h3{
    color: white;
}

fieldset li{
    color : white;
}

fieldset ol{
    color: white;
}

fieldset ul{
    color: white;
}

fieldset b{
    color: white;
}

fieldset i{
    color: white;
}

fieldset p a{
    color: white;
}

.margin{
    width: 1200px;
}

.margin-fil{
    margin-top: 10px;
}

.nav_nav{
    border-radius: 0 10px 0px 0px;
    box-shadow: -2px -2px 15px;
    border: 2px solid rgb(2, 15, 87);
    margin-right: 10px;
    list-style-type: none;
    list-style: none;
    margin-bottom: 10px;
    text-decoration: none;
    padding: 5px;
    margin-bottom: 30px;
    float: left;

}

li{
    list-style-type: none;
    list-style: none;
    margin-bottom: 10px;
}

button{
    border-radius: 0 10px 0px 0px;
    box-shadow: -2px -2px 15px;
    border: 2px solid rgb(2, 15, 87);
    margin-top: 10px;
    background-color: rgb(149, 149, 149);;
}

ul{
    margin-bottom: 10px;
}

.margin_center{
    margin-top: 25px;
    margin-bottom: 0px;
}

.clear{
    clear: both;
}

  .login {
    display: flex;
    align-items: center;
  }
  
  .login__container {
    width: 25%;
    background-color: #11105f;
    box-sizing: border-box;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login__titulo {
    color: white;
  }
  
  .login__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login__input {
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 8px;
    border: unset;
    position: relative;
  }
  
  .login__input-border {
    height: 1px;
    width: 100%;
    margin-bottom: 16px;
    background: rgb(255, 255, 255);
  }
  
  .login__input-border::after {
    display: block;
    width: 0;
    margin-bottom: 16px;
  } 

  .login__submit {
    height: 48px;
    width: 100%;
    padding-left: 8px;
    position: relative;
    background: #ffffff;
    background-size: 200%;
    margin-bottom: 32px;
    color: #11105f;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }

  .login__reset {
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    float: left;
  }

.faq_exp{
    width: 70%;
    font-size: 16px;
    text-align: justify;
}

.faq_exp_end{
    margin-top: 10px;
    width: 50%;
    font-size: 16px;
    text-align: center;
}

.faq_links{
    color: white;
    font-weight: bold;
}

.passos_cadastro{
    font-size: 18px;
    text-align: justify;
    margin-left: 15px;
    margin-top: 5px;
}

h1{
    color: #11105f;
}
h2{
    color: #11105f;
}
h3{
    color: #11105f;
}
h4{
    color: white;
}

a{ 
    text-decoration: none;
    
}

.gambiarra{
    margin-left: 20px;
    
}

.mr_chato{
    margin-right: 10px;
}

.nav-item{
    margin-right: 100px;

}

.nav-item a{
    font-size: 20px;
    color: white;
}

.um_menu{
    background-color: #11105F;
}

.cancel_submit{
    float: center;
}
label{
    color: white;
}
b{
    color: #11105f;
}
.itens-footer{
    display: inline-block;
    padding: 5px;
    font-size: 35px;
}
.opp{
    padding: 0 .5em;
}
.sasa{
    padding: 15px;  
}
.lis{
    font-size: 30px;
}
.pop{
    color: white;
}
.sas{
    font-size: 20px;
}

